body{
    font-family: 'Roboto', sans-serif;
}

.bc-1{
    background-color: #ED2121;
}

.bc-2{
    background-color: #403F4C;
}

.bc-3{
    background-color: #5BC0EB;
}

.bc-4{
    background-color: #FFFCE8;
}

.bc-5{
    background-color: #FDE74C;
}

.tc-1{
    color: #ED2121;
}

.tc-2{
    color: #403F4C;
}

.tc-3{
    color: #5BC0EB;
}

.tc-4{
    color: #FFFCE8;
}

.tc-5{
    color: #FDE74C;
}

.pz-pic{
    display: inline;
    width: 100%;
}

.rounded{
    border-radius: 10px;
}

.top-rounded{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.progress{
    height: 30px;
}

#pizza-progress{

}

.cheesy{
    border-style: solid;
    border-color: #FDE74C;
    border-width: 3px;
}

.btn-choice{
    background-color: #5BC0EB;
}

.btn-choice:not(:disabled):not(.disabled):active, .btn-choice:not(:disabled):not(.disabled).active{
    background-color: #403F4C;
    color: #FFFCE8;
}

.unit-price{
    font-size: 18px;
    height: 70%;
}

